* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: hsl(0deg 0% 92.43%);
}


.Main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
        position: relative;
            top: 40px;
    background-color: white;
    border-radius: 1rem;
    font-family: 'outfit';
        max-width: 80%;
    height: auto;
    margin: 3rem auto;
    padding: 1rem;
}

h2 {
    margin: 16px 0;
    font-size: 17px;
    font-weight: bolder;
    padding: 0 2rem;
    text-align: center;
}

p {
    font-size: 15px;
    padding: 0 1rem;
    text-align: center;

}

#scanner-container{
    position: relative;
}

#scanner-container video{
    width: 100%;
}
#QRcode {
     border-radius: 10px;
     width: 100%;
     height: 100%;
 }


.header {
     position: absolute;
     top: 0;
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     width: 100%;
     background: linear-gradient(to right, #007BFF, #00BFFF);
     height: 60px;
 }

.navbar-brand{
    font-weight: bold;
}


#flight_info{
    border: 1px solid;
    font-family: monospace;
    /* font-weight: 700; */
    margin: 10px 0 10px 0;

    background-color: white;
        color: black;
        font-weight: 800;
        font-size: 1.5rem;
        height: fit-content;
}


#QR{
   border: 5px solid;
}

#done{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
}

.Loader-div{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
}

 /* HTML: <div class="loader"></div> */
 .loader {
     color: #000;
     width: 4px;
     aspect-ratio: 1;
     border-radius: 50%;
     box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
     transform: translateX(-38px);
     animation: l21 .5s infinite alternate linear;

    position: absolute;
        top: 50%;
        left: 50%;
 }

 @keyframes l21 {
     50% {
         box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px
     }

     100% {
         box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px
     }
 }